.titulo {
    text-align: center;
    font-size: 2em;
    background-color: purple;
    color: white;
}

mat-card {
    margin: 20px;
    background-color: rgb(148, 40, 198);
    color: white;
    border-radius: 2em;
    border: 2em;
}

.mensaje {
    width: 100%;
    font-size: 1em;
    text-align: center;
}

.iconMensaje {
    width: 100%;        
    color: purple;
    font-size: 40px;    
}