*{
    text-align: center;    
}

.titulo {
    text-align: center;
    font-size: 1.5em;
    background-color: purple;
    color: white;
}

.contenido {
    
}

.buttons {    
    margin-left: 15%;
    text-align: center;
}