<h3 mat-Dialog-Title>Carrito de compras</h3>

<div mat-dialog-content>

   <h3 *ngIf="concepts.length == 0">Sin articulos aún, añade algunos :)</h3> <!--si al ir al carrito la lista concepts no tiene nada, muestra mensaje-->
    
   <mat-card *ngFor="let item of concepts">
      <mat-card-title>{{item.nombre}}</mat-card-title>
      <mat-dialog-content>
         <p>PrecioC/U: {{item.precioUnitario}} M.X</p>
         <p>Cantidad: {{item.cantidad}}</p>
      </mat-dialog-content>
      <mat-card-actions>
         <button mat-button color="warn"(click)="delete(item.idProducto)">Eliminar</button>
      </mat-card-actions>
   </mat-card>   

</div>

<mat-card-actions>
   <button mat-button color="primary" (click)="close()">Regresar</button>
</mat-card-actions>



