.titulo {
    text-align: center;
    font-size: 2em;
    background-color: purple;
    color: white;
}

mat-form-field{
    margin-top: 10px;
    width: 100%;
}

.icon {
    text-align: center;
    margin-left: 80%;
}

input {
    width: 100%;
}

.button {
    text-align: center;
    width: 100%;  
}