<h3 mat-dialog-title class="titulo">Confirmar eliminación</h3>

<p class="subtitulo">Solo se puede eliminar un producto que no tenga historial de pedidos. ¿Deseas continuar?</p>

<mat-dialog-actions>
    <button mat-button color="warn" (click)="deleteProduct(product.id)">Confirmar</button>
    <button mat-button color="primary" (click)="close()">Regresar</button>
</mat-dialog-actions>

<!-- <mat-card>
    <mat-card-title>Confirmar eliminación</mat-card-title>
    <mat-card-subtitle>Solo se puede eliminar un producto que no tenga historial de pedidos. ¿Deseas continuar?</mat-card-subtitle>

    <mat-card-actions>
        
    </mat-card-actions>
</mat-card> -->