
h3 {
    font-size: 2em;
    text-align: center;
    background-color: purple;
    color: white;
    padding: 5px;
}

.form-field {
    width: 100%;
}

.button {   
    max-width: 200px;
    display: block;    
    margin: auto; 
    align-items: center;
    text-align: center;
    justify-items: center;    
}