<app-menu></app-menu>

<div>

    <button mat-flat-button color="primary" (click)="openDialogProductAdd()" class="button">Agregar</button>

    <mat-card *ngFor="let product of lstProduct" class="card">
        <mat-card-title>{{product.nombre}}</mat-card-title>
        
        <mat-card-header>
            <img src="{{product.url}}" class="img">
        </mat-card-header>

        <mat-card-content>
            <p>${{product.precioUnitario}} M.X</p>
            <p>{{product.existencia == 1 ? 'Disponible': 'Agotado'}}</p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" (click)="openDialogProductEdit( product )">Modificar</button>
            <button mat-button color="warn" (click)="openDialogConfirmDelete(product)" >Eliminar</button>
        </mat-card-actions>
    </mat-card>

</div>

<div class="buttons">    
    <button mat-flat-button color="primary" (click)="previousPage()" *ngIf="page > 1" class="button">Anterior</button>
    <button mat-flat-button color="primary" (click)="nextPage()" *ngIf="lstProduct.length > 0" class="button">Siguiente</button>
</div>

