.cardForm {
    background-color: rgb(32, 191, 199);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
}

.email {    
    width: 100%;  
    margin-top: 20px;      
}

.iconEmail{
    text-align: center;
    margin-left: 90%;
    
}

.password {
    margin-top: 20px;
    width: 100%;
}

.iconPassword {
    text-align: center;
    margin-left: 90%;
}

.name{
    width: 100%;
    margin-top: 20px;
}

.iconName{
    text-align: center;
    margin-left: 90%;
}

.button {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    
}
