* {            
    margin: 0;
    padding: 0;
    margin-bottom: 0;        
}

//Buscador
.search {    
    margin-top: 20px;    
    margin-left: 65%;
}

.formSearch {    
    width: 100%;
}

.inputSearch {        
}

.iconSearch {        
    color: #fff;
}

.buttonSearch {        
    background-color: purple;    
}


//Card de producto

.card {    
    padding: 10px;
    border-radius: 20px;        
    text-align: center; 
    background-color: white;
    margin: 2em;       
}

.img{
    display: block;    
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
}

//Botones siguiente y anterior
.buttonsPag {    
    padding: 20px;
    text-align: center;
}

.buttonP {
    margin: 10px;
}

//Home Administrador
.cardAdmin {    
    color: #fff;
    height: auto;
    margin: 40px;
    border-radius: 30px;    
    margin-top: 20%;
    margin-bottom: 20%;    
    padding: 30px;        
    text-align: center;
    background-color: rgb(129, 48, 172);    
}