/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*estilo de mysncakBar, color de error y de completado */
.background-red {
    background-color: rgb(165, 41, 41);
}

.background-green {
    background-color: rgb(67, 135, 67);
}
