<div>
    <mat-toolbar>
        <button mat-icon-button aria-label="abrir menú">
            <mat-icon>menu</mat-icon>            
        </button>        
        <span>MiVenta</span>
        <a [routerLink]="['/home']" >Inicio</a>
        
        <button mat-button (click)="openDialogShopping()" >Mi carrito</button>
        <button mat-button (click)="openDialogAllOrders()" >Historial de pedidos</button>
        <button mat-button (click)="logout()" >Salir</button>        
    </mat-toolbar>
</div>
