<div>
    <!--Menú normal-->
    <mat-toolbar *ngIf ="isAdmin() == false">
        <button mat-icon-button aria-label="abrir menú">
            <mat-icon>menu</mat-icon>            
        </button>        
        <span>MiVenta</span>
        <a [routerLink]="['/home']" >Inicio</a>
        
        <button mat-button (click)="openDialogShopping()" >Mi carrito</button>
        <button mat-button (click)="openDialogUserOrders()" >Historial de pedidos</button>        

        <button mat-button (click)="logout()" >Salir</button>        
    </mat-toolbar>

    <!--Menú admin-->
    <mat-toolbar *ngIf ="isAdmin() == true">
        <button mat-icon-button aria-label="abrir menú">
            <mat-icon>menu</mat-icon>            
        </button>        
        <span>MiVenta</span>        
        
        <button mat-button [routerLink]="['/home']" >Inicio</button>

        <button mat-button [routerLink]="['/product']">Productos</button>                
        <button mat-button (click)="openDialogAllOrders()">Pedidos</button>        
        <button mat-button (click)="logout()" >Salir</button>        
    </mat-toolbar>

</div>
