<div>    
    
    <mat-toolbar color="primary">
        <mat-toolbar-row>            
            <button type="button" mat-icon-button (click)="sideNav.toggle() && showFiller = !showFiller" class="buttonIcon">            
                <mat-icon class="iconMenu">menu</mat-icon>            
            </button>            
            MiVenta
            <img src="assets/favicon.png">       
        </mat-toolbar-row>
    </mat-toolbar>        
        <mat-sidenav-container>
            <mat-sidenav mode="over" #sideNav class="example-sidenav" position="start">     
                
                <div class="separador"> 
                    <mat-grid-list cols="2" rowHeight="50px">
                        <mat-grid-tile>
                            <h3 class="titleMenu">MENÚ</h3>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <button type="button" mat-icon-button (click)="sideNav.toggle() && showFiller = !showFiller" class="buttonCloseDrarwe">                                            
                                <mat-icon>keyboard_backspace</mat-icon>                            
                            </button>  
                        </mat-grid-tile>
                    </mat-grid-list>           
                    
                </div> 
                <!--Botones Admin-->
                <div *ngIf="isAdmin() == true">
                    <button mat-button [routerLink]="['/home']" class="button">Inicio <mat-icon matSuffix class="iconsMenu">home</mat-icon></button>           
                    <button mat-button [routerLink]="['/product']" class="button">Productos <mat-icon class="iconsMenu">loyalty</mat-icon></button>                
                    <button mat-button (click)="openDialogAllOrders()" class="button">Pedidos <mat-icon class="iconsMenu">book</mat-icon></button>        
                    <button mat-button (click)="logout()" class="button">Salir <mat-icon color="warn" class="iconsMenu">exit_to_app</mat-icon></button> 
                </div>
                
                <!--Botones usuario normal-->
                <div *ngIf="isAdmin() == false">                    
                    <button mat-button [routerLink]="['/home']" class="button">Inicio <mat-icon matSuffix class="iconsMenu">home</mat-icon></button> 
                    <button mat-button (click)="openDialogShopping()" class="button">Mi carrito <mat-icon class="iconsMenu">shopping_cart</mat-icon></button>
                    <button mat-button (click)="openDialogUserOrders()" class="button">Historial de pedidos <mat-icon class="iconsMenu">book</mat-icon></button>
                    <button mat-button (click)="openDialogUser()" class="button">Mi cuenta <mat-icon class="iconsMenu">person</mat-icon></button>
                    <button mat-button (click)="logout()" class="button" class="button">Salir <mat-icon color="warn" class="iconsMenu">exit_to_app</mat-icon></button> 
                </div>

            </mat-sidenav>
                
            <mat-sidenav-content>                    
            </mat-sidenav-content>   
                        
        </mat-sidenav-container>              

</div>
